<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: red;">About:</h1>
    <p style="color: white;">The "electronics" typically refers to a section or category of the website where electronic products are listed and sold. The electronics column encompasses a wide range of electronic devices, gadgets, and accessories. Here is a description of what the electronics column in e-commerce might consist of Computers, Laptops, Mobile Phones,Telivisions,Mobile accessories, Tablets, Audio and HeadPhones, Cameras and photography equipment, TVs and Home Theatre Systems, Gaming consoles and accessories, wearable devices like smart watches, fitness trackers and other wearable devices.
    </p>
    <h1 style="color: red;">Issues:</h1>
    <h2 style="color: white;">The battery life of the phone is significantly reduced : </h2>
          <p style="color: white;">Check for battery-hungry apps running in the background and close them.<br>
            Adjust screen brightness, and use power-saving modes.<br>
            Replace the battery if it's old and no longer holds a charge effectively.</p>
    <h2 style="color: white;">The phone becomes sluggish and unresponsive :</h2>
   <p style="color: white;">Clear cache and unnecessary files.<br>
        Uninstall or disable resource-heavy apps.<br>
        Perform a factory reset as a last resort.</p>
    <h2 style="color: white;">Apps frequently crash or freeze :</h2>
    <p style="color: white;">Update the app to the latest version.<br> 
        Clear the app cache or data.<br>
        Restart the phone or reinstall the app.</p>
    <h2 style="color: white;">The laptop becomes slow, unresponsive, or freezes :</h2>
   <p style="color: white;">Close unnecessary background applications.<br>
        Remove malware or viruses using antivirus software.<br>
        Upgrade the RAM or replace the hard drive with a faster SSD.</p>
    <h2 style="color: white;">The laptop's fan is loud or constantly running :</h2>
    <p style="color: white;">Clean the fan and vents to remove dust.<br>
        Update the laptop's BIOS or firmware.<br>
        Replace the fan if it's damaged.</p>
    <h1 style="color: red;">For More Details:</h1>
    <h2 style="color: red;">Try Our Chatbot</h2><br>
    <style>
        .button {
          border: none;
          color: black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          background-color: red;
        }
        </style>
    <center><form action="/chat" style="text-align: center;"><button class="button">Chat</button></form></center>
</body>
</html>