<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: red;">About:</h1>
    <p style="color: white;">"Furniture" refers to movable objects intended to support various human activities such as sitting (chairs, sofas), eating (tables), and sleeping (beds). It can also include items that enhance the ambiance of a space, like decorations and lighting. Furniture is typically used to make a living or working space comfortable, functional, and aesthetically pleasing. The range of items that fall under the category of furniture is broad, encompassing everything from large pieces like sofas to smaller accessories like lamps and mirrors.
    </p>
    <h1 style="color: red;">Issues:</h1>
    <h2 style="color: white;"> High-quality furniture can be expensive : </h2>
          <p style="color: white;">Shop during sales, consider second-hand or thrift options, and prioritize key pieces for investment while finding budget-friendly alternatives for others.<br>
        </p>
    <h2 style="color: white;"> Certain materials may require special care :</h2>
   <p style="color: white;">Understand the maintenance needs of each piece before purchasing. Choose materials that align with your lifestyle and maintenance preferences<br>
    </p>
    <h2 style="color: white;"> Delays or damages during delivery :</h2>
    <p style="color: white;">Research the reputation of the furniture store, choose reliable delivery options, and inspect items upon arrival. Report damages promptly to ensure a resolution<br>
    </p>
    <h2 style="color: white;"> Limited space can make it challenging to fit in all the desired furniture :</h2>
   <p style="color: white;">Opt for multi-functional furniture, such as sofa beds or storage ottomans, and prioritize essential pieces<br>
    </p>
    <h2 style="color: white;"> The furniture doesn't match the desired aesthetic :</h2>
    <p style="color: white;"> Take time to define your style, plan your purchases, and consider neutral pieces for flexibility. Mix and match wisely to create a cohesive look.<br>
    </p>
    <h1 style="color: red;">For More Details:</h1>
    <h2 style="color: red;">Try Our Chatbot</h2><br>
    <style>
        .button {
          border: none;
          color: black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          background-color: red;
        }
        </style>
    <center><form action="/chat" style="text-align: center;"><button class="button">Chat</button></form></center>
</body>
</html>