<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: red;">Right to Information :</h1>
    <p style="color: white;">
        In India, the Right to Information (RTI) is not specifically a consumer right under the Consumer Protection Act but is a separate legal framework provided under the Right to Information Act, 2005. The Right to Information Act empowers citizens, including consumers, to access information from government and public authorities. While it may not be directly tied to consumer issues, the right to information can indirectly benefit consumers by enhancing transparency, accountability, and access to data related to government policies, programs, and services. <br></p>
        <h2 style="color: red;">Key Features of the Right to Information :</h2>
        <h2 style="color: white;">1. Transparency in Consumer Affairs :</h2><p style="color: white;">Consumers can use the RTI Act to access information related to government policies, regulations, and decisions that impact various consumer sectors, such as food safety, product standards, and public services.</p>
        
        <h2 style="color: white;">2. Accountability :</h2><p style="color: white;">  It encourages government and public bodies to be more accountable for their actions and decisions, which can help in holding them responsible for any actions that might harm consumers.</p>
        
        <h2 style="color: white;">3. Consumer Activism :</h2> <p style="color: white;">Consumer advocacy groups and individuals can use the RTI Act to gather data and information to support their initiatives, research, and campaigns aimed at improving consumer rights and welfare.</p>
        
        <h2 style="color: white;">4. Access to Public Services :</h2><p style="color: white;">Consumers can use the RTI Act to obtain information about government schemes and services, including details about eligibility criteria and application procedures.</p>
        
        <h2 style="color: white;">5. Consumer Redressal :</h2> <p style="color: white;">In some cases, consumers may use RTI to seek information on pending consumer disputes and cases in consumer forums and commissions.
        </p>
        <style>
            .button {
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: red;
        }
    </style>
        <center><form action="/chat" style="text-align: center;"><button class="button">Chat</button></form></center>
</body>
</html>